<img src="img/01.jpg" class="slideImg">
<div class="parallax">
    <section>
        <div>
            <img src="img/letrinhas_logo.png" class="dataImage">
            <div id="homeLoginDiv">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <input id="userEmail" class="form-control" data-i18n="[placeholder]userdata.email" name="email"
                               type="email" autofocus="autofocus" autocomplete="on" placeholder="Email">
                        <span id="imgMail" class="glyphicon glyphicon-envelope"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class=" col-sm-12">
                        <input id="psswrd" class="form-control" data-i18n="[placeholder]userdata.password"
                               name="password"
                               type="password" placeholder="Palavra-Passe">
                        <span id="pwdIcon" class="glyphicon glyphicon-lock"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class=" col-sm-12">
                        <button type="submit" id="loginbtn" class="btn btn-success" data-i18n="userdata.login">Login
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div>
            <h3 class="text-center">Sobre nós</h3>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/manso.jpg"
                         alt="António Manso" width="140" height="140">
                    <h3>António Manso</h3>
                    <hr>
                    <p>Coordenador de projecto.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- A.M -->
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/pereira.jpg"
                         alt="Cristiana Pereira" width="140" height="140">
                    <h3>Cristiana Pereira</h3>
                    <hr>
                    <p>Programadora</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!--C.P -->
                <div class="col-md-3 col-sm-6 usDiv"><!--C.M -->
                    <img class="img-circle"
                         src="img/marques.jpg"
                         alt="Generic placeholder image" width="140" height="140">
                    <h3>Célio Marques</h3>
                    <hr>
                    <p>Coordenador de projecto.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- C.M -->
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/dias.jpg"
                         alt="Pedro Dias" width="140" height="140">
                    <h3>Pedro Dias</h3>
                    <hr>
                    <p>Coordenador de projecto.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- P.D -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/pestana.jpg"
                         alt="Renato Pestana" width="140" height="140">
                    <h3>Renato Pestana</h3>
                    <hr>
                    <p>Programador</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- R.P -->
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/fernandes.jpg"
                         alt="Tiago Fernandes" width="140" height="140">
                    <h3>Tiago Fernandes</h3>
                    <hr>
                    <p>Programador</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- T.F -->
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/carvalho.jpg"
                         alt="Alexandre Carvalho" width="140" height="140">
                    <h3>Alexandre Carvalho</h3>
                    <hr>
                    <p>Programador</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!-- A.C -->
                <div class="col-md-3 col-sm-6 usDiv">
                    <img class="img-circle"
                         src="img/gomes.jpg"
                         alt="Pedro Dias" width="140" height="140">
                    <h3>Artur Gomes</h3>
                    <hr>
                    <p>Programador</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                </div><!--A.G -->
            </div>
        </div>
    </section>

    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
</div>