<img src="img/01.jpg" class="slideImg">
<div id="fullpage">
    <div class="section " id="section0">
        <div class="intro">
            <div style="background-color: rgba(245,245,220,0.8);">
                <img src="img/letrinhas_logo.png" class="dataImage">
                <br>
                <div id="homeLoginDiv">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <input id="userEmail" class="form-control" data-i18n="[placeholder]userdata.email"
                                   name="email" type="email" autofocus="autofocus" autocomplete="on">
                            <span id="imgMail" class="glyphicon glyphicon-envelope"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col-sm-12">
                            <input id="psswrd" class="form-control" data-i18n="[placeholder]userdata.password"
                                   name="password" type="password">
                            <span id="pwdIcon" class="glyphicon glyphicon-lock"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class=" col-sm-12">
                            <button type="submit" id="loginbtn" class="btn btn-success btn-xs"
                                    data-i18n="">Entrar
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div class="section" id="section1">
        <div class="slide" id="slide1">
            <div class="intro">
                <h1>Eventos</h1>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp blue-border">
                        <div class="front">
                            <img src="papers/siee15.jpg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://siie15.ese.ips.pt/spco.html">
                                Promoção da leitura através de dispositivos móveis (SIIE'15)
                            </a> <br>
                            <span>Setúbal - 2015</span>
                            <br>
                            <a href="papers/Letrinhas_siee15.pdf" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp red-border">
                        <div class="front">
                            <img src="papers/FrEEE_Cartaz-portal.jpg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://www.mediotejo.net/tomar-feira-de-educacao-emprego-e-empreendedorismo-de-17-a-19-de-marco/">
                                Feira de Educação, Emprego e Empreendedorismo
                            </a> <br>
                            <span>Tomar - 2015</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp red-border">
                        <div class="front">
                            <img src="papers/engWeek.png" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://www.cm-tondela.pt/encontrobibliotecas/">
                                Semana da Engenharia
                            </a> <br>
                            <span>Tomar - 2016</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp red-border">
                        <div class="front">
                            <img src="papers/19455820_ASdZd.png" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://www.semanadaengenharia.ipt.pt/">
                                Bibliotecas inclusívas </a> <br>
                            <span>Tondela - 2016</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp blue-border">
                        <div class="front">
                            <img src="papers/ejml.jpg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://ejml2016.fpce.uc.pt">
                                Aprender a ler através de dispositivos móveis
                            </a> <br>
                            <span>Coimbra - 2016</span>
                            <br>
                            <a href="papers/Letrinhas_EJML_2016.pdf" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp blue-border">
                        <div class="front">
                            <img src="papers/artibytes.jpg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://www.ipsantarem.pt/arquivo/12456">
                                V ARTIBYTES _ Ideas to (Re)Use
                            </a> <br>
                            <span>Coimbra - 2016</span>
                            <br>
                            <a href="papers/Letrinhas_Artibytes.pdf" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp blue-border">
                        <div class="front">
                            <img src="papers/cisti16.jpg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://www.aistic.org/cisti2016/oc16/modules/request.php?module=oc_program&action=program.php">
                                CISTI'2016 - 11ª Conferencia Ibérica de Sistemas y Tecnologías de Información
                            </a> <br>
                            <span>Gran Canária - 2016</span>
                            <br>
                            <a href="papers/Letrinhas-CISTI 2016.pdf" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp red-border">
                        <div class="front">
                            <img src="papers/partilhasdemaior.jpeg" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://blogue.rbe.mec.pt/seminario-partilhas-de-maior-1971149">
                                Partilhas de Maior: Bibliotecas de Hoje e de Amanhã
                            </a> <br>
                            <span>Rio Maior - 2016</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp red-border">
                        <div class="front">
                            <img src="papers/artedeler.png" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="http://rbca.cm-alcobaca.pt/index.php/noticias/atividades/154-cat-noticias-atividades/167-da-arte-de-ler-ciencia-programa-e-inscricao-2">
                                III Seminário da Rede de Bibliotecas do Concelho de Alcobaça
                            </a> <br>
                            <span>Alcobaça - 2016</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="card-grid animated bounceInUp blue-border">
                        <div class="front">
                            <img src="papers/siie-16.png" class="dataImage">
                        </div>
                        <div class="back">
                            <a target="_blank"
                               href="https://siie2016.adie.es/">
                                XVIII Simposio Internacional de Informática Educativa SIIE 2016
                            </a> <br>
                            <span>Salamanca - 2016</span>
                            <br>
                            <a href="papers/Letrinhas_paper_SIIE_2016_versao_final_manso.pdf" download>
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="intro">
            <h1>Sobre nós</h1>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp yellow-border">
                    <div class="front">
                        <img src="img/manso.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>António Manso</span>
                        <br>
                        <span>-Coordenador-</span>
                        <br>
                        <a href="https://www.linkedin.com/in/ant%C3%B3nio-manso-1a40b19b" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp yellow-border">
                    <div class="front">
                        <img src="img/dias.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Pedro Dias</span>
                        <br>
                        <span>-Coordenador-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/pedromdias/pt" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp yellow-border">
                    <div class="front">
                        <img src="img/marques.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Célio Marques</span>
                        <br>
                        <span>-Coordenador-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/celiomarques/pt" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp red-border">
                    <div class="front">
                        <img src="img/marco.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Marco Gaspar</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/marco-gaspar-737295132" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp red-border">
                    <div class="front">
                        <img src="img/pereira.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Cristiana Pereira</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/cristiana-pereira-3a577a124" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp red-border">
                    <div class="front">
                        <img src="img/pestana.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Renato Pestana</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/renato-pestana-6443b8b7" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp blue-border">
                    <div class="front">
                        <img src="img/fernandes.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Tiago Fernandes</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/thiago-fernandes-159733b1" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp blue-border">
                    <div class="front">
                        <img src="img/carvalho.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Alexandre Carvalho</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://pt.linkedin.com/in/axcs90" download>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="card-grid animated bounceInUp blue-border">
                    <div class="front">
                        <img src="img/gomes.jpg" class="dataImage">
                    </div>
                    <div class="back">
                        <span>Artur Gomes</span>
                        <br>
                        <span>-Developer-</span>
                        <br>
                        <a href="https://www.facebook.com/artur.gomes.39?fref=ts" download>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="upperFooter">
                <div class="collapse navbar-collapse" id="homeBar">
                    <ul class="nav navbar-nav">
                        <li>

                            <img src="img/ipt.png">

                        </li>
                        <li>
                            <img src="img/ESTT2.png">
                        </li>
                        <li>
                            <img src="img/ESAG.png">
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript">
    $('#fullpage').fullpage({
        anchors: ['hello', 'events', 'aboutus'],
        sectionsColor: ['', 'rgba(220, 183, 151, 0.88)', 'rgba(0,0,0,0.88)'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Home', 'Events', 'About Us']
    });
    $('.card-grid', this.el).css({'height': $('.card-grid').width() + 'px'});
    $(window).resize(function () {
        $('.card-grid', this.el).css({'height': $('.card-grid').width() + 'px'});
    });
</script>
<style>

    #fp-nav {
        position: absolute;
        top: 0px;
        margin-top: 0px;
    }

    /* Style for our header texts
    * --------------------------------------- */
    h1 {
        font-size: 5em;
        font-family: arial, helvetica;
        color: #fff;
        margin: 0;
    }

    .intro p {
        color: #fff;
    }

    /* Centered texts in each section
    * --------------------------------------- */
    .section {
        text-align: center;
    }

    /* Bottom menu
    * --------------------------------------- */
    #infoMenu li a {
        color: #fff;
    }
</style>
